<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karthi.acpage1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/nimbly"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/nimbly"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity android:name=".Home" />
        <activity android:name=".Page1" />
        <activity android:name=".Game1" />
        <activity android:name=".Page1a" />
        <activity android:name=".Page2" />
        <activity android:name=".Game2" />
        <activity android:name=".Page2a" />
        <activity android:name=".Game2a" />
        <activity android:name=".Page2t" />
        <activity android:name=".Game2t" />
        <activity android:name=".Page2ta" />
        <activity android:name=".Page3" />
        <activity android:name=".Page3a" />
    </application>

</manifest>